body {
    margin: 5%;
    background-color: whitesmoke;
  }
h1 {
    color: black;
}

p.time {
   text-align: center;
   font-size: 120%;
}

button {
  font-weight: bold;
  padding: 0.5em 1em;
  background-color: #eee;
  border-radius: 0.7em;
}

input.button {
  font-weight: bold;
  padding: 0.5em 1em;
  background-color: #eee;
  border-radius: 0.7em;
}

#breadcrumbs { font-size: 90%;}
#breadcrumbs + h1 { margin-top: 0;}